<h1>タスク一覧</h1>

<button>新規作成</button>
<button>完了済み</button>

<table>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><button>完了</button></td>
      <td><button>編集</button></td>
      <td><button>削除</button></td>
    </tr>
  <% end %>
</table>
